{% extends 'base.html' %}
{% load static %}
{% block title %}Submit a new batch<br>
<h2>{{product.title}}</h2>
{% endblock %}
{% block main %}
    <form action="{% url 'product:submit' product.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_p}}
	<div class="py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
              </div>
            </div>
          </div>
        </div>
     </form>
{% endblock %}
 
